notebooks/data
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints

# Ignore virtual environment directories
*.ipynb_checkpoints

# Ignore virtual environment directories
venv/

# Ignore Jupyter Notebook checkpoints

# Ignore Python bytecode files
.env