notebooks/data
.ipynb_checkpoints/
Python-3.12.10/
.devcontainer/
.venv/
# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints

# Ignore virtual environment directories
*.ipynb_checkpoints

# Ignore virtual environment directories
venv/

# Ignore Jupyter Notebook checkpoints

# Ignore Python bytecode files
.env
.gitignore
*.env
*.DS_Store
FORGE_VERSION.txt
VERSION.txt